@media only screen and (max-width: 1033px) {
  .contact__page__content {
    margin-left: 205px;
  }
}

@media only screen and (max-width: 1696px) {
  .contact__header__title {
    font-size: 30px;
  }
  .contact__header__title h1 {
    margin-top: 62px;
  }
  .contact__header__summary {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1456px) {
  .contact__header__title {
    font-size: 25px;
  }
  .contact__header__title h1 {
    margin-top: 70px;
  }
  .contact__header__summary {
    font-size: 25px;
  }
}
